header {
  background-color: #ffa500;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  box-sizing: border-box;
}

.nav_btn {
  background-color: #ffa600;
  color: white;
  transition: all 0.50s ease-in-out;
}

.nav_btn:hover {
  --color: hsl(var(--primary-color), calc(var(--l) - 5%));
  background-color: var(--color);
}

h2 {
  font-size: 24px;
  color: white;
}

h5 {
  font-size: 20px;
  color: white;
}



footer {
  height: 150px;
  width: 100%;
  background-color: #726b6b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  margin-top: 100px;
  box-sizing: border-box;
}

.social_icons {
  display: flex;
  gap: 5px;
}